extends ../layout.jade

block content
  #hero
    #sketchpad
    ul#we-build
      li
        span We Build
      li
        span Websites
      li
        span Apps
      li
        span Robots
      li
        span Community
  div.strap.bg-inverse.text-center
    h1 TABLEFLIP
  main
    a(name='about')
    section.max-width-3.mx-auto.p1
      p.lead
        span.block A web-developer co-op
        span.block Experts in Node.js &amp; Meteor
        span.block.fade-1 Based in London
        span.block.fade-2 Born in 
          span.monospace
            small (╯°□°）╯︵   
            | outrage
          
      h2 We build for the web.
      
      blockquote 
        p Whether you need a startup dev team, or a simple website, we make it happen.
        p Our way of breaking it down into iterative steps makes the process of creating your product easy to comprehend and control.
      
    hr.hr-table.my3
      
    .max-width-4.mx-auto.p2
      article
        h1 TABLEFLIP Start
          sup Up!
        p
          i We&apos;re your 
            span.nowrap technical co-founder.
        .clearfix.mxn2
          .sm-col.sm-col-8.px2
            p Having worked with many startups and entrepreneurs we have distilled a way of working that really suits creative innovation. Come to us with your idea and talk us through it. We then prepare for you the first workplan that takes the form of a 5 day sprint. At the end of the 5 days you will have something live to visit or download onto your phone; something to test and put in front of your users.
            p Based on your feedback, we then work together to define the most important thing for the next workplan. 
              strong Plan. Build. Review.
              |  By repeating this simple pattern we can take you from idea to new business in a matter of weeks.
            //- p.py2
            //-   a.btn.btn-primary(href="./startup") Get started
          .sm-col.sm-col-4.px2
            img.fit.rounded(src='./img/photos/8sekCUJxkG.l.jpg')
        
      .clearfix.mxn2.mt4
        .sm-col.sm-col-6.p2
          article
            h1 Consult TABLEFLIP
            i We're outragously good.
            p You might need some advice or want some work on your existing product, we can help with that too. 
            p 
              a(href="https://nodejs.org", title="JavaScript and Node.js").pr3
                img.rounded.sticker(src="./img/logos/node-js.svg")
              a(href="https://www.meteor.com/", title="Meteor for full stack apps").pr1
                img.rounded.sticker(src="./img/logos/meteor-partner.png")
              a(href="https://www.mongodb.org/", title="MongoDB for much data").pr1
                img.rounded.sticker(src="./img/logos/mongo.png")
              a(href="https://www.ansible.com/", title="Ansible for infrastructure automation")
                img.rounded.sticker(src="./img/logos/ansible.png" )
                
            P We are principally a JavaScript shop. We use Node.js as our runtime of choice, and are a an offcial Meteor partner.
            p We've diagnosed performance issues, built custom apis and finely tailored user interfaces, rejuvenated legacy systems and automated multi-server infrastructures for <a href="http://www.apple.com/uk/business">giant</a> <a href="http://web.polestarglobal.com/">megacorps</a>, <a href="https://schoolofwok.co.uk/">shops</a>, and <a href="https://kitmapper.com">startups</a> alike. 
            p Talk to us in confidence about your needs. we'll agree a workplan and charge per day.

        .sm-col.sm-col-6.p2
          article
            h1 Better Websites
            i No more templates.
            p Need a website for your project, cause or business, that loads quickly and works on a mobile just as well as a laptop?  
              strong Get in touch.
            p We build reponsive, single page sites for <strong>£899</strong> ex. vat. Hosting is free for the first month, then £5 per month after that. 
            p You get visitor stats, contact form notifications, and the power to edit your site content direct from an app on your phone.
            p Send us an email to <strong>hello@tableflip.io</strong> to get started.
            //- form(action="post")
            //-   label.label Your email address
            //-   input.input.border-box(type="email", required)
            //-   label.label Any info
            //-   input.input.border-box(type="text")
            //-   button.btn.btn-primary Send
      
      hr.hr-table.my3
        
      article.max-width-4.mx-auto.pt4.pb1
        .clearfix.mxn2
          .sm-col.sm-col-4.px2
            img.fit.rounded(src='./img/photos/9GafGxpxhF.l.jpg').pb2
          .sm-col.sm-col-8.px2
            h1 Community
            p Come and meet us. We run the monthly 
              a(href="http://meetup.com/Meteor-London") Meteor meetup 
              | in London, as well as 
              a(href="http://nodeschool.io/london") London Node School 
              | and 
              a(href="http://www.meetup.com/NodeBots-of-London/") Nodebots of London. 
            p These events bring together members of the extended community to gain new skills and insights, make friends and share our passion for code.
            p 
              a(href="http://www.meetup.com/NodeBots-of-London/" title="NodeBots of London").pr2
                img.rounded.sticker(src="./img/logos/nodebots.png")
              a(href="http://www.meetup.com/Meteor-London/" title="Meteor London").pr2
                img.rounded.sticker(src="./img/logos/meteor-dark.png")
              a(href="http://nodeschool.io/london" title="NodeSchool London").pr2
                img.rounded.sticker(src="./img/logos/nodeschool.png")
              a(href="http://greatbritishnodeconf.co.uk/" title="Great British Node Conf 2014")
                img.rounded.sticker(src="./img/logos/gbnc.png")
      
      a(name='contact')
      article.pb3.pt4.text-center
        h1 Contact
        ul.list-reset
          li.inline-block.pr2
            a(href='https://twitter.com/_alanshaw' title='Alan "1080" Shaw')
              img(src='https://en.gravatar.com/avatar/8ca838dbb449a1359b5a4eadd26abb42', width='80').circle
          li.inline-block.pr2
            a(href='https://twitter.com/olizilla' title='Oli "zilla" Evans')
              img(src='https://en.gravatar.com/avatar/07b5f445334ae706381eb62aee1b8537', width='80')
          li.inline-block.pr2
            a(href='https://twitter.com/_tableflip')
              img(src='./img/logos/tableflip.png' width='80' title='(╯°□°）╯︵ TABLEFLIP')
          li.inline-block.pr2
            a(href='https://twitter.com/richsilvo' title='Rich "react" Silverton')
              img(src='https://avatars0.githubusercontent.com/u/3180526?v=3&amp;s=80', width='80').circle
          li.inline-block
            a(href='https://twitter.com/bmordan', title='Bernard "biscuits" Mordan')
              img(src='https://avatars3.githubusercontent.com/u/4499581?v=3&amp;s=80', width='80').circle
        p
          strong Get in touch. 
          | Send an email to 
          strong hello@tableflip.io 
          | and we'll get back as soon as we can. 
        p.pt3
          a.btn.btn-primary(href='mailto:hello@tableflip.io') → Email us
      
        a(name='address')
        .pt3.vcard
          p.adr
            strong Address: 
            span.street-address Unit 1a, 1 East Dulwich Road
            | , 
            span.locality London
            | , 
            span.postal-code SE22 9BA
            
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.7772475944635!2d-0.06762329999995409!3d51.46224610000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487603bcd574cb6b%3A0x7ff8ee0aab796340!2s1a%2C+1+E+Dulwich+Rd%2C+London+SE15!5e0!3m2!1sen!2suk!4v1415827434779', frameborder='0', style='border:0; height:400px; width:100%')