extends ./layout.jade

block content
  #hero
    ul#we-build
      li
        span We Build
      li
        span Websites
      li
        span &
      li
        span Apps
  div.strap.bg-inverse.text-center
    h1 TABLEFLIP
  main
    a(name='about')
    section.container
      p.lead 
        .intro A web-developer co-op.
        .intro Experts in Node.js &amp; Meteor
        .intro Based in London.
        .intro Born in 
          small (╯°□°）╯︵ 
          | outrage.
          
      h2 We build for the web.
      article
        blockquote 
          p Whether you need a startup dev team, or a simple website, we make it happen.
          p Our way of breaking it down into iterative steps makes the process of creating your product easy to comprehend and control.
      article
        h2 TABLEFLIP Start
          sup Up!
        p 
          i We're your technical co-founder.
        p Having worked with many startups and entrepreneurs we have distilled a way of working that really suits creative innovation. Come to us with your idea and talk us through it. We then prepare for you the first workplan that takes the form of a 5 day sprint. At the end of the 5 days you will have something live to visit or download onto your phone; something to test and put in front of your users.
        p The first version will not be the complete expression of your idea, it will be the Minimal Viable Product (MVP) that then becomes the kernel of the next iteration.
        p We review the previous sprint, consider the feedback from your testing, and then define the next sprint with you. This pattern we repeat until you are going live, talking at launch events and sending off press releases about your new product!
        
      article
        h2 Better Websites
        p 
          i No more templates.
        p Need a website for your project, cause or business, that loads quickly and works on a mobile just as well as a laptop?
          strong &nbsp;Get in touch.
        form
          input(type="text")
        p We build reponsive, single page sites for £899 ex. vat. Hosting is free for the first month, then £5 per month after that. 
        
        p You get visitor stats, contact form notifications, and the power to edit your site content direct from an app on your phone.
        
      article
        h2 Consult TABLEFLIP
        p
          i We're outragously good.
        p You might need some advice or want some work on your existing product, we can help with that too. Talk to us in confidence about your needs, we can agree a workplan and charge per day. We are principally a Javascript shop and use Node js as our runtime of choice. TABLEFLIP are an Official Meteor Partner. We are always fliting with the bleeding edge of our favorite technologies.
        
      article
        h2 Community
        p Come and meet us. We run the monthly Meteor meetup in London, the London’s Node School and Nodebots of London. These events bring together members of the extended community to gain new skills and insights, make friendships and share our passion for code.
        
block scripts
  script.
    (function () {
      var html = document.getElementsByTagName('html')[0]
      var scrolled = false
      setTimeout(function () { window.onscroll() })
      function addClass (el, className) {
        el.className = el.className.split(' ').concat(className).join(' ')
      }
      function removeClass (el, className) {
        var classes = el.className.split(' ')
        el.className = classes.filter(function (c) {
          return c != className
        }).join(' ')
      }
      window.onscroll = function () {
        if (window.scrollY > 0 && !scrolled) {
          addClass(html, 'scrolled')
          scrolled = true
        } else if (window.scrollY <= 0 && scrolled) {
          removeClass(html, 'scrolled')
          scrolled = false
        }
      }
      var pieces = document.querySelectorAll('.piece')
      ;[].forEach.call(pieces, function (piece) {
        piece.addEventListener('click', function (e) {
          if (piece.className.indexOf('closed') > -1) {
            piece.className = piece.className.replace('closed', 'open')
          }
        })
      })
    })()
